# Java Binaries Files #
*.jar
*.war
*.ear
*.class

# Eclipse Project Files #
.classpath
.project
.settings/
bin/

# Android Files #
gen/
.externalToolBuilders/
proguard-project.txt
project.properties

# Gradle Build Files #
.gradle/
