.blue-grad-backg {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #00A3EF));
}

.deal-details {
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    margin-bottom: 0.5em;
    background-color:rgba(215, 245, 210, 0.4);
}

.deal-header {
	border-radius: 1em 2em 1em 2em;
    margin-bottom: 1em;
    background-color:rgba(215, 245, 210, 0.6); 
	color: #009999;	
	text-shadow: 0 0 5px #00FFCC, 0 0 10px #00FFCC, 0 0 15px #00FFCC;
	font-family: Bookman, serif;
	font-weight: 500;
	font-variant: small-caps;
	text-align: center;
}

.list-img {
	float: left;
	
}

.no-underline {
	text-decoration: none;
}

.img-shadow {
	width: 100%;
	/* TODO: Need to get the shadow working here */
}

.find-us-icon-seperator {
	padding-right: 35px;
}

#home-screen-banner {
	width: 100%; 
	border-top-width: 4px; 
	border-bottom-width: 4px; 
	border-top-style: double; 
	border-bottom-style: double; 
	border-top-color: #E1A60A; 
	border-bottom-color: #E1A60A; 
	padding: 8px 0px;
}

#weather-view {
	background-color:rgba(255,0,255,0.2);
	border-radius: 15px;
	list-style-type: none;
}

#weather-view li {
	text-align: center;
	padding-bottom: 1em;
	padding-top: 1em;
	padding-right: 1em;
}

#weather-view li.forecast {
	border-top: dashed #C0C0C0;
}

#weather-view li span.day {
	float: left;
}

#weather-view li span.temp {
	float: right;
	text-align: left;
}